.section_home_baseline .home_baseline_container {
  position: relative;
  /* height: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* overflow: hidden;  */
}

.section_home_baseline .is-sentence1,
.section_home_baseline .is-sentence2,
.section_home_baseline .is-sentence3,
.section_home_baseline .is-sentence4 {
  will-change: transform;
  overflow: hidden;
}

.section_home_baseline .home_baseline_sentence,
.section_home_baseline .is-sentence1,
.section_home_baseline .is-sentence2,
.section_home_baseline .is-sentence3,
.section_home_baseline .is-sentence4 {
  display: flex;
}

.section_home_baseline .home_baseline_sentence > *,
.section_home_baseline .is-sentence1 > *,
.section_home_baseline .is-sentence2 > *,
.section_home_baseline .is-sentence3 > *,
.section_home_baseline .is-sentence4 > * {
  flex: 0 0 auto;
}

/* .section_home_baseline .is-sentence1 > *,
.section_home_baseline .is-sentence2 > *,
.section_home_baseline .is-sentence3 > *,
.section_home_baseline .is-sentence4 > * {
  display: inline-flex;
  white-space: nowrap;
} */

/* .section_home_baseline .texts {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0 0;
  padding: 2vw 2vw 0;
  border-top: 1px dashed rgb(72, 72, 72);
  font: 500 normal 0.9vw / normal 'IBM Plex Mono';
  text-transform: uppercase;
} */
