.section_home_baseline .home_baseline_container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Masque sentence2 qui est en position absolue */
}

.section_home_baseline .is-sentence1,
.section_home_baseline .is-sentence2 {
  position: relative;
  /* font:
    500 normal 10vw/1.2 'Inter',
    sans-serif; */
  letter-spacing: -0.06em;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  width: max-content;
  will-change: transform;
}

.section_home_baseline .is-sentence1 > *,
.section_home_baseline .is-sentence2 > * {
  display: inline-flex;
  white-space: nowrap;
}

.section_home_baseline .is-sentence2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 110%);
}

/* .section_home_baseline .texts {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0 0;
  padding: 2vw 2vw 0;
  border-top: 1px dashed rgb(72, 72, 72);
  font: 500 normal 0.9vw / normal 'IBM Plex Mono';
  text-transform: uppercase;
} */

@media (max-width: 768px) {
  .section_home_baseline .is-sentence1,
  .section_home_baseline .is-sentence2 {
    font-size: 70px;
  }
  /* .section_home_baseline .texts {
    font-size: 8px;
    padding: 15px;
    margin: 15px 0 0;
  } */
}
