.swiper.is-studios-loop {
  overflow: visible !important;
}

.studios-loop_cards {
  overflow: visible;
}

/* État initial du hover wrapper - animation gérée par GSAP dans studiosHover.ts */
.studios-loop_hover-wrapper {
  opacity: 0;
  transform: translateY(0);
  will-change: opacity, transform;
  pointer-events: none; /* Permet au hover de fonctionner sur la carte */
  /* position: relative; */
  z-index: 1; /* S'assure que l'élément est au-dessus */
}

.studios-loop_hover-image {
  transform: translateX(-2rem) translateY(-2.5rem);
}
