.where_projects_heading .word {
  display: inline-block;
  white-space: nowrap;
  height: 5rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .where_projects_heading .word {
    height: 2.25rem;
  }
}

.where_projects_heading .letter-container {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.where_projects_heading .letter-wrapper,
.home_why_heading .letter-wrapper {
  display: block;
}

.where_projects_heading .letter,
.home_why_heading .letter {
  display: block;
}

/* Why */
.home_why_heading .word {
  display: inline-block;
  white-space: nowrap;
  height: 5rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .home_why_heading .word {
    height: 2.25rem;
  }
}

.home_why_heading .letter-container {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
