.swiper.is-how {
  overflow: visible;
}

.swiper.is-how .who_cards-on,
.swiper.is-how .who_cards-off {
  transform: scale(0.8) rotate(0deg);
  transition:
    opacity 0.3s ease-out,
    transform 0.6s ease-out;
}

.swiper.is-how .swiper-slide-active .who_cards-on {
  opacity: 1;
  transform: scale(1) rotate(-10deg);
}

.swiper.is-how .swiper-slide-active .who_cards-off {
  opacity: 0;
  transform: scale(0.8) rotate(0deg);
}
