/* 
.mwg_effect020 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    gap: 3vw;
} */

.section_home_why img {
  width: 15vw;
  height: 15vw;
  position: absolute;
  object-fit: cover;
  border-radius: 4%;
  z-index: 5;
}

.section_home_why .home_why_medias img {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
