.pricing_border {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.pricing-v3_hero_cards:hover .pricing_border {
  opacity: 1;
}

@media (max-width: 479px) {
  .pricing_border {
    opacity: 1;
  }
}

.pricing-v3_hero_bullet {
  transition:
    color 0.2s ease-out,
    rotate 0.2s ease-out;
}

.pricing-v3_hero_cards.is-1 .pricing-v3_hero_accordion-item:hover .pricing-v3_hero_bullet {
  color: #ff9500;
  rotate: 90deg;
}

.pricing-v3_hero_cards.is-1
  .pricing-v3_hero_accordion-item.is-active-accordion
  .pricing-v3_hero_bullet {
  color: #ff9500;
  rotate: 90deg;
}

.pricing-v3_hero_cards.is-2 .pricing-v3_hero_accordion-item:hover .pricing-v3_hero_bullet {
  color: #00cc8c;
  rotate: 90deg;
}

.pricing-v3_hero_cards.is-2
  .pricing-v3_hero_accordion-item.is-active-accordion
  .pricing-v3_hero_bullet {
  color: #00cc8c;
  rotate: 90deg;
}

.pricing-v3_hero_cards.is-3 .pricing-v3_hero_accordion-item:hover .pricing-v3_hero_bullet {
  color: #ff00f2;
  rotate: 90deg;
}

.pricing-v3_hero_cards.is-3
  .pricing-v3_hero_accordion-item.is-active-accordion
  .pricing-v3_hero_bullet {
  color: #ff00f2;
  rotate: 90deg;
}

.pricing-v3_abo_cards .pricing-v3_hero_accordion-item:hover .pricing-v3_hero_bullet {
  color: #ff0000;
  rotate: 90deg;
}

.pricing-v3_abo_cards .pricing-v3_hero_accordion-item.is-active-accordion .pricing-v3_hero_bullet {
  color: #ff0000;
  rotate: 90deg;
}
