@media (min-width: 991px) {
  .skills_cards:hover .skills_cards_background {
    opacity: 0.1;
  }

  .skills_cards:hover .skills_cards_right {
    transform: translateX(-2.5rem);
  }

  .skills_cards_arrow-wrapper {
    margin-left: auto;
    transition: opacity 0.5s ease-out;
  }

  .skills_cards:hover .skills_cards_arrow-wrapper {
    opacity: 1;
  }

  .skills_cards_spacer {
    width: 100%;
    transition: width 0.5s ease-out;
    opacity: 0;
  }

  .skills_cards:hover .skills_cards_spacer {
    width: 0%;
  }

  .skills_studios-top:hover .skills_studios_background {
    opacity: 1;
  }

  .skills_studios-top:hover .skills_studios-button {
    transform: translateX(-2.5rem);
  }

  .skills_studios_arrow-wrapper {
    margin-left: auto;
    transition: opacity 0.5s ease-out;
  }

  .skills_studios-top:hover .skills_studios_arrow-wrapper {
    opacity: 1;
  }

  .skills_studios_spacer {
    width: 100%;
    transition: width 0.5s ease-out;
    opacity: 0;
  }

  .skills_studios-top:hover .skills_studios_spacer {
    width: 0%;
  }

  .skills_studios-top:hover .skills_studios-logo {
    color: var(--_theme---text-color--alternate);
    border-color: var(--_theme---border-color--transparent);
  }
}
