.network_cards-logo-blending {
  transition: filter 0.3s ease-out;
}

.network_partners_collection-item:hover .network_cards-logo-blending {
  filter: invert(100%);
}

.network_cards-background-gradient {
  transition: opacity 0.3s ease-out;
}

.network_partners_collection-item:hover .network_cards-background-gradient {
  opacity: 1;
}

.network_cards {
  transition: transform 0.3s ease-out;
}

.network_partners_collection-item:hover .network_cards {
  transform: rotate(-15deg) scale(1.1);
}

@media (max-width: 479px) {
  .network_cards-logo-blending {
    transition: padding 0.3s ease-out;
  }

  .network_partners_collection-item:hover .network_cards-logo-blending {
    padding: 0.75rem;
  }
}

.network_cards-logo-blending {
  transition: filter 0.3s ease-out;
}

.network_partners_collection-item:hover .network_cards-logo-blending {
  filter: invert(100%);
}

.network_cards-round {
  transition: opacity 0.3s ease-out;
}

.network_partners_collection-item:hover .network_cards-round {
  opacity: 1;
}
