.button_main_icon {
  transition: transform 0.3s ease-out;
}

.button_main_wrap:hover .button_main_icon {
  transform: rotateZ(-45deg);
}

.button_nav_wrap .svg-component {
  transition: transform 0.3s ease-out;
}

.button_nav_wrap:hover .svg-component {
  transform: translateX(100%);
}

/* Projects back button */

.projects_hero_back-link .button_back {
  transition: transform 0.3s ease-out;
}

.projects_hero_back-link:hover .button_back {
  transform: scale(0.9);
}

/* Footer button */
[data-wf--button-main--variant='footer']:hover .button_main_background {
  background-color: black;
}

[data-wf--button-main--variant='footer']:hover .button_main_text {
  color: var(--_theme---text-color--alternate);
}

[data-wf--button-main--variant='footer'] .button_main_background {
  transition: background-color 0.3s ease-out;
}

[data-wf--button-main--variant='footer'] .button_main_text {
  transition: color 0.3s ease-out;
}
