@media (min-width: 992px) {
  .section_footer {
    perspective: 100vw;
    overflow: hidden;
  }

  .section_footer .footer_cards {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section_footer .footer_cards-asset {
    position: absolute;
    object-fit: cover;
    transform: scale(1.2, 1.2);
  }
}
