/* Reference-only: webflow-variables.css is kept for Cursor autocomplete.
/* @import './webflow-variables.css';  */
/* Do NOT import it to avoid overriding Webflow-managed values at runtime. */

@import './utils/animations/network/network-gradient.css';
@import './utils/animations/skills/skills-animation.css';
@import './utils/global/footer-animation.css';
@import './utils/animations/works/grid-position.css';
@import './utils/animations/works/works-cards.css';
@import './utils/animations/home/why-animations.css';
@import './utils/animations/home/where-projects-scroll.css';
@import './utils/animations/home/how-slider.css';
@import './utils/animations/home/who-slider.css';
@import './utils/global/button.css';
@import './utils/animations/home/where-rainbow.css';

[data-wf--button-main--variant='footer']:hover .button_main_background {
  background-color: black;
}

[data-wf--button-main--variant='footer']:hover .button_main_text {
  color: var(--_theme---text-color--alternate);
}

[data-wf--button-main--variant='footer'] .button_main_background {
  transition: background-color 0.3s ease-out;
}

[data-wf--button-main--variant='footer'] .button_main_text {
  transition: color 0.3s ease-out;
}
