/* Reference-only: webflow-variables.css is kept for Cursor autocomplete.
/* @import './webflow-variables.css';  */
/* Do NOT import it to avoid overriding Webflow-managed values at runtime. */

@import './utils/animations/network/network-gradient.css';
@import './utils/animations/skills/skills-animation.css';
@import './utils/global/footer-animation.css';
@import './utils/animations/works/grid-position.css';
@import './utils/animations/works/works-cards.css';
@import './utils/animations/home/why-animations.css';
@import './utils/animations/home/where-projects-scroll.css';
@import './utils/animations/home/how-slider.css';
@import './utils/animations/home/who-slider.css';
@import './utils/animations/home/sentence-scroll.css';
@import './utils/global/button.css';
@import './utils/animations/home/where-rainbow.css';
@import './utils/animations/home/studios-hover.css';
@import './utils/global/transition.css';
@import './utils/animations/home-v2/projects-slider.css';
@import './utils/animations/home/clients-animation.css';

/* Hide model viewer progress bar */
model-viewer::part(default-progress-bar) {
  display: none;
}

.loop-word_background.glass-surface--svg {
  position: absolute !important;
}
